<div class="card">
  <div class="card-img"></div>
  <span class="card-name">Вероника Ростова</span>
  <span class="card-job-title">Менеджер по продажам</span>
  <div class="card-message-box">
    <div class="card-message-box-message">Подберу для вас самые лучшие предложения.<br/> Мои услуги абсолютно бесплатны</div>
  </div>
  <!-- stats -->
  <div class="card-stats">
    <span class="card-stats-services">Услуг</span>
    <div class="card-stats-unit">
      <div class="card-stats-item_1"> Ручное бронирование
        <span class="card-stats-sum">11</span>
      </div>
    </div>
    <div class="card-stats-unit">
      <div class="card-stats-item_2"> Пакетные туры
        <span class="card-stats-sum">3</span>
      </div>
    </div>
    <div class="card-stats-unit">
      <div class="card-stats-item_3"> Отели
        <span class="card-stats-sum">1</span>
      </div>
    </div>
    <div class="card-stats-total">
      Всего <span>15</span>
    </div>
  </div>

</div>
